.screen--6{
  padding-top: 6rem;
  padding-bottom: 6rem;
  &__display-4{
    font-size: 4rem;
    padding-left: 2rem;
    @media (min-width: 992px) {
      padding-left: 4rem;
    }
    @media (min-width: 1200px) {
      padding-left: 8rem;
    }
    @media (max-width: 767.98px) {
      font-size: 2rem!important;
      br{
        display: none;
      }
    }
    .block-line{
      margin-bottom: 1rem;
      @media (max-width: 767.98px) {
        display: block;
      }
    }
  }
  &__circle{
    width: 42px;
    height: 42px;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blue;
    font-size: 2rem;
    line-height: 1;
    &__wrap{
      margin-right: 15%;
    }
  }
  &__hr{
    flex-grow: 1;
    border-bottom: 1px solid #81b2ec;
  }
}
