.screen--10{
  padding-top: 3rem;
  padding-bottom: 8rem;
  @include media-breakpoint-down(md) {
    padding-bottom: 4rem;
  }
  &__bg{
    @include lineGrad($green, $cyan, 53%);
    @include media-breakpoint-down(lg) {
      @include lineGradVertical($green, $cyan, 40%);
    }
  }
  &__box{
    @media (min-width: 1200px) {
      background: transparent!important;
    }
    @media (min-width: 2200px) {
      background: white!important;
      padding: 3rem!important;
      margin: 3rem 0!important;
    }
  }
  &__form{
    &__box{
      @media (min-width: 992px) and (max-width: 1199.8px) {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
      }
    }
    &__link{
      color: $green!important;
    }
  }
}