.screen--1{
  padding-top: 8rem;
  padding-bottom: 5rem;
  &__bg{
    @include lineGrad($cyan, $blue, 62.11%); //col-8 пол левую границу отступа
    @include media-breakpoint-down(sm) {
      background: $cyan;
    }
  }
}
.bg-main{
  background-image: url(/img/main.png);
  background-repeat: no-repeat;
  @include media-breakpoint-only(xl) {
    background-size: 72%;
    background-position: 110% 35%;
  }
  @include media-breakpoint-only(lg) {
    background-size: 63%;
    background-position: 110% 35%;
  }
  @include media-breakpoint-only(md) {
    background-size: 63%;
    background-position: 110% 16%;
  }
  @include media-breakpoint-down(sm) {
    background-size: 63%;
    background-position: 110% 16%;
  }
  @include media-breakpoint-down(xs) {
    background-size: 63%;
    background-position: 110% 27%;
  }
  position: relative;
}