.screen--15 {
  padding-top: 8rem;
  padding-bottom: 5rem;
  @include media-breakpoint-down(md) {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  &__img{
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
  }
}