.screen--12{
  padding-top: 6rem;
  padding-bottom: 8rem;
  @include media-breakpoint-down(md) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  &__item{
    margin: 200px 0 200px 0;
    @include media-breakpoint-down(sm) {
      max-width: 260px!important;
    }
  }
  &__box{
    @include media-breakpoint-between(lg, lg) {
      padding-right: 180px;
    }
    .screen--12__item--marker{
      &:nth-child(odd){
        @include media-breakpoint-down(md) {
          margin-bottom: 1rem;
        }
        .screen--12__down-dot{
          display: none;
        }
        .screen--12__up-dot{
          margin-right: 1rem;
          @include media-breakpoint-down(sm) {
            margin-top: 1rem;
            margin-right: 0;
          }
        }
        .screen--12__text{
          top: -120px;
          left: 50%;
          align-items: flex-start;
          @include media-breakpoint-down(sm) {
            bottom: 90px;
            margin-left: -90px;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            text-align: center;
          }
        }
        .screen--12__content{
          &:before{
            background: $white;
          }
          color: $black;
        }
      }
      &:nth-child(even){
        @include media-breakpoint-down(md) {
          margin-top: 1rem;
        }
        .screen--12__up-dot{
          display: none;
        }
        .screen--12__down-dot{
          margin-bottom: 1rem;
        }
        .screen--12__text{
          top: 50px;
          left: 50%;
          margin-left: -90px;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
        }
        .screen--12__content{
          &:before{
            background: $green;
          }
          color: $white;
        }
      }
      &:nth-child(2){
        .screen--12__text{
          text-align: left;
        }
      }
      &:last-child{
        .screen--12__text{
          text-align: right;
        }
      }
    }
  }
  .screen--12__text{
    color: $white;
    position: absolute;
    width: 180px;
    white-space: normal;
    display: flex;
  }
  &__content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    position: relative;
    margin: 0 10px 0 10px;
    &:before{
      -moz-transform: skew(30deg, 0deg);
      -webkit-transform: skew(30deg, 0deg);
      -o-transform: skew(30deg, 0deg);
      -ms-transform: skew(30deg, 0deg);
      transform: skew(30deg, 0deg);
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 7px;
      z-index: 1;
      -webkit-clip-path: polygon(0 0, 96% 0, 100% 100%, 4% 100%);
      clip-path: polygon(0 0, 96% 0, 100% 100%, 4% 100%);

    }
  }
  &__data{
    position: relative;
    z-index: 2;
    margin: 0;
  }
}