.screen--3{
  &__display-4{
    font-size: 4rem;
    @media (min-width: 992px) {
      margin-left: 4rem;
    }
    @media (min-width: 1200px) {
      margin-left: 8rem;
    }
    @media (max-width: 767.98px) {
      font-size: 2rem!important;
      br{
        display: none;
      }
    }
    .block-line{
      margin-bottom: 1rem;
    }
  }
  &__circle{
    width: 3.5rem;
    height: 3.5rem;
    background-color: $gray-600--m;
    background-image: url(/img/screen3/checked.png);
    background-repeat: no-repeat;
    -webkit-background-size: 56%;
    background-size: 56%;
    background-position: center;
  }
  &__hr{
    margin-left: 23%;
    margin-right: 6%;
    flex-grow: 1;
    border-bottom: 1px solid $gray-600--m;
  }
}