
// Body
$body-bg: #fff;
$body-color: #212121;
$html-font-size: 12;
//
//// Typography
$font-family-sans-serif: 'Nunito Sans', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.1;
$line-height-p-base: 2;
//
//// Colors
$blue: #0163D7;//changed
$blue-500: #0262d3;//changed
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #00b850;//changed
$teal: #4dc0b5;
$cyan: #e5f2ff;//changed
$green-100: #e4f4e9;//changed
$gray-500--m:#898989;
$gray-600--m:#c0c9d4;
