
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import '~hamburgers/dist/hamburgers.min.css';

@import '../../node_modules/selectric/src/selectric';

@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html{
  font-size: #{$html-font-size}px;
}
.container-max-width{
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
@for $i from 1 through 2{
  .lh-#{$i}{
    line-height: #{$i}!important;
  }
  @for $j from 1 through 9{
    .lh-#{$i}_#{$j}{
      line-height: #{$i + $j/10}!important;
    }
  }
}
@for $i from 1 through 6{
  .fz-#{$i}{
    font-size: #{$i}rem!important;
  }
  @for $j from 1 through 9{
    .fz-#{$i}_#{$j}{
      font-size: #{$i + $j/10}rem!important;
    }
  }
}
.fz-0_8333{
  font-size: .833333rem;
}
$window-list: sm md lg xl;
@each $current-window in $window-list {
  @include media-breakpoint-up($current-window) {
    @for $i from 1 through 2{
      .lh-#{$current-window}-#{$i}{
        line-height: #{$i}!important;
      }
      @for $j from 1 through 9{
        .lh-#{$current-window}-#{$i}_#{$j}{
          line-height: #{$i + $j/10}!important;
        }
      }
    }
    @for $i from 1 through 6{
      .fz-#{$current-window}-#{$i}{
        font-size: #{$i}rem!important;
      }
      @for $j from 1 through 9{
        .fz-#{$current-window}-#{$i}_#{$j}{
          font-size: #{$i + $j/10}rem!important;
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .w-lg-auto{
    width: auto!important;
  }
}
.display-3{
  font-size: 4.333333rem;
}
.display-md-3{
  @media (min-width: 768px) {
    font-size: 4.333333rem;
  }
}
.clip-path-top-right{
  position: relative;
  -webkit-clip-path: polygon(calc(100% - 2rem) 0, 100% 2rem, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(calc(100% - 2rem) 0, 100% 2rem, 100% 100%, 0 100%, 0 0);
  &:before{
    content: '';
    position: absolute;
    right: -1px;
    top: -1px;
    width: 2rem;
    height: 2rem;
    background: $green;
  }
  &--blue{
    &:before{
      background: $blue;
    }
  }
}

.block-line{
  width: #{154/$html-font-size}rem;
  height: 3px;
  background: $green;
}
.text-black{
  color: #000000;
}
a.text-black{
  &:hover{
    color: #000000;
  }
}
h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6, .p{
  line-height: $line-height-base;
}
.zi-1{
  z-index: 1;
}
.zi-2{
  z-index: 2;
}
.text-muted{
  color: $gray-500--m!important;
}
.text-muted-600{
  color: $gray-600--m!important;
}
.font-weight-semibold{
  font-weight: 600!important;
}
.font-weight-extrabold{
  font-weight: 800!important;
}
.text-black-50{
  color: #222222!important;
}
.bg-xl-transparent{
  @media (min-width: 1200px) {
    background: transparent!important;
  }
}
.text-blue{
  color: $blue-500!important;
}
.border-bottom--underline{
  border-bottom: 5px solid $green;
}
// col-7
//@include lineGrad($cyan, $blue, 56.55%);

@mixin lineGrad($colorStart, $colorEnd, $border){
  background: linear-gradient(to right, $colorStart 0%,$colorStart $border,$colorStart $border,$colorEnd $border,$colorEnd 100%);
}
@mixin lineGradVertical($colorStart, $colorEnd, $border){
  background: linear-gradient(to bottom, $colorStart 0%,$colorStart $border,$colorStart $border,$colorEnd $border,$colorEnd 100%);
}
@mixin lineGradVerticalThreeColor($colorStart, $colorMiddle, $colorEnd, $borderStart, $borderEnd){
  background: linear-gradient(to bottom, $colorStart 0%,$colorStart $borderStart,$colorStart $borderStart,$colorMiddle $borderStart,$colorMiddle $borderEnd,$colorEnd $borderEnd,$colorEnd 100%);
}
.link-hover--success{
  &:hover{
    color: $green!important;
  }
}
.font-weight-black{
  font-weight: 900!important;
}
.img-cover{
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.link-un{
  color: inherit;
  text-decoration: inherit;
  &:hover{
    color: inherit;
    text-decoration: inherit;
  }
}
@import 'navbar';
@import 'footer';
@import 'buttons';
@import 'inputs';
@import 'checkboxes';
@import 'screen1';
//@import 'screen2';
@import 'screen2_1';
@import 'screen3';
@import 'screen3_1';
//@import 'screen4';
@import 'screen4_1';
//@import 'screen5';
@import 'screen5_1';
@import 'screen6';
@import 'screen7';
@import 'screen7_1';
@import 'screen8';
@import 'screen9';
@import 'screen10';
@import 'screen11';
@import 'screen12';
@import 'screen13';
@import 'screen14';
@import 'screen15';
@import 'screen16';
@import 'map17';




