.wiget--social-links{
  position: fixed;
  left: -50px;
  top: 45%;
  background: $cyan;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 9999;
  transition: all .6s ease-in-out;
  &.show{
    left: 0;
  }
  &__content{
    font-size: 16px;
    color: $black;
    padding: .5rem;
    &:hover{
      color: $green;
    }
    a{
      margin: 18px 0;
      color: $black;
      &:first-child{
        margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
      &:hover{
        color: $green;
      }
    }
  }
}